<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="#" class="nav-logo">LOGO</a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="#" class="nav-link">關於</a></li>
            <li class="nav-item"><a href="#" class="nav-link">服務項目</a></li>
            <li class="nav-item"><a href="#" class="nav-link">作品集</a></li>
            <li class="nav-item"><a href="#" class="nav-link">聯絡我</a></li>
        </ul>
    </nav>
    <header>
        <img src="https://picsum.photos/id/46/1440/900" alt="">
        <div class="header-content">
            <h1>HELLO!!</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, omnis.
            </p>
        </div>
    </header>
    <section id="about">
        <div class="container row">
            <div class="col-12">
                <h2 class="section-title">關於</h2>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    那麼讓我們強大蔬菜高度訊息清楚及時一般創新功夫，親自精華巨大自動效率我市人體培訓那樣後來走出好多技。
                </p>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    那麼讓我們強大蔬菜高度訊息清楚及時一般創新功夫，親自精華巨大自動效率我市人體培訓那樣後來走出好多技。
                </p>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    那麼讓我們強大蔬菜高度訊息清楚及時一般創新功夫，親自精華巨大自動效率我市人體培訓那樣後來走出好多技。
                </p>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    那麼讓我們強大蔬菜高度訊息清楚及時一般創新功夫，親自精華巨大自動效率我市人體培訓那樣後來走出好多技。
                </p>
            </div>
        </div>
    </section>
</body>
</html>