<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container row">
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus totam rerum maiores laborum possimus ducimus aspernatur, incidunt doloribus nam quam et velit non mollitia quo! Eveniet nulla inventore unde similique!
            </p>
        </div>
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus totam rerum maiores laborum possimus ducimus aspernatur, incidunt doloribus nam quam et velit non mollitia quo! Eveniet nulla inventore unde similique!
            </p>
        </div>
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus totam rerum maiores laborum possimus ducimus aspernatur, incidunt doloribus nam quam et velit non mollitia quo! Eveniet nulla inventore unde similique!
            </p>
        </div>
        <div class="col-3">
            <h2>title</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus totam rerum maiores laborum possimus ducimus aspernatur, incidunt doloribus nam quam et velit non mollitia quo! Eveniet nulla inventore unde similique!
            </p>
        </div>
    </div>
</body>
</html>