<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="#" class="nav-logo">LOGO</a>
        <ul class="nav-menu">
            <li class="nav-item"><a href="#about" class="nav-link">關於</a></li>
            <li class="nav-item"><a href="#service" class="nav-link">服務項目</a></li>
            <li class="nav-item"><a href="#works" class="nav-link">作品集</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link">聯絡我</a></li>
        </ul>
    </nav>
    <header>
        <img src="https://picsum.photos/id/46/1440/900" alt="">
        <div class="header-content">
            <h1>HELLO!!</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, omnis.
            </p>
            <a href="#about" class="btn btn-blue">GO!</a>
        </div>
    </header>
    <section id="about">
        <div class="container row">
            <div class="col-12">
                <h2 class="section-title">關於</h2>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    那麼讓我們強大蔬菜高度訊息清楚及時一般創新功夫，親自精華巨大自動效率我市人體培訓那樣後來走出好多技。
                </p>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    那麼讓我們強大蔬菜高度訊息清楚及時一般創新功夫，親自精華巨大自動效率我市人體培訓那樣後來走出好多技。
                </p>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    那麼讓我們強大蔬菜高度訊息清楚及時一般創新功夫，親自精華巨大自動效率我市人體培訓那樣後來走出好多技。
                </p>
            </div>
            <div class="col-3">
                <h3>title</h3>
                <p>
                    那麼讓我們強大蔬菜高度訊息清楚及時一般創新功夫，親自精華巨大自動效率我市人體培訓那樣後來走出好多技。
                </p>
            </div>
        </div>
    </section>
    <section id="service">
        <div class="container row">
            <div class="col-12">
                <h2 class="section-title">服務項目</h2>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/98/800/600" alt="">
                    </div>
                    <div class="card-content">
                        <h3>title</h3>
                        <p>檢測看見準備無限厲害有限糖尿病我還，分鐘本類，報名加強少年領域，中壢排名施工也沒這一點往往我有人氣。</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/79/800/600" alt="">
                    </div>
                    <div class="card-content">
                        <h3>title</h3>
                        <p>
                            金屬可能犯罪，未知年齡展開，之下答案居民完美陽明山，或者文學接近，浙江操作執行。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/68/800/600" alt="">
                    </div>
                    <div class="card-content">
                        <h3>title</h3>
                        <p>
                            是什麼緊急出了登錄是一種型號社會並非搜尋引擎持續，美容即將該公司旅遊保障裝置沒有任何按鈕電腦研究所，版面消除刺激點。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-img">
                        <img src="https://picsum.photos/id/28/800/600" alt="">
                    </div>
                    <div class="card-content">
                        <h3>title</h3>
                        <p>檢測看見準備無限厲害有限糖尿病我還，分鐘本類，報名加強少年領域，中壢排名施工也沒這一點往往我有人氣。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="works">
        <div class="container row">
            <div class="col-12">
                <h2 class="section-title">
                    作品集
                </h2>
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=1" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=2" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=3" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=4" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=5" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=6" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=7" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=8" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=9" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=10" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=11" alt="">
            </div>
            <div class="col-2">
                <img src="https://picsum.photos/800/600?random=12" alt="">
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container row">
            <div class="col-12">
                <div class="section-title">聯絡我</div>
            </div>
            <div class="col-6">
                <form action="">
                    <div class="form-group">
                        <label for="" class="form-label">姓名</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">電話</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">Email</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="" class="form-label">內容</label>
                        <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <input type="submit" value="送出" class="btn btn-dark">
                </form>
            </div>
        </div>
    </section>
    <footer>
        2022&copy;All Rights Reserved.Design By Zac.
    </footer>
</body>
</html>