/* nav */
nav {
    display: flex;
    height: 60px;
    align-items: center;
    background-color: #222;
}
.nav-menu {
    display: flex;
    margin-left: auto;
}
.nav-logo {
    font-weight: bold;
}
nav a {
    color: #eee;
    text-decoration: none;
    padding: 0 10px;
}
/* header */
header {
    width: 100%;
    height: fit-content;
    background-color: #ccc;
    position: relative;
}
.header-content {
    position: absolute;
    background-color: rgb(0 0 0 / .5);
    color: #fff;
    backdrop-filter: blur(5px);
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    inset:0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
}
/* about */
#about {
    padding-top:150px;
    padding-bottom:150px;
    background-color: #fff4f4;
}
.section-title {
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
#about h3 {
    font-size: 24px;
    margin-bottom: 12px;
    text-align: center;
}
#about p {
    line-height: 1.7rem;
}
/* service */
#service {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #ebf6ff;
}
.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #b5b5b5;
    border-radius: 8px;
    overflow: hidden;
    height: 410px;
    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / .1);
}
.card-content {
    padding: 15px;
    background-color: #fff;
    height: 100%;
}
.card-content h3 {
    margin-bottom: 12px;
}
.card-content p {
    line-height: 1.7rem;
}
/* contact */
#contact {
    padding-top:150px;
    padding-bottom:150px;
    background-color: #fff4f4;
}
#contact .row {
    justify-content: center;
}
.form-group {
    margin-bottom: 12px;
}
.form-label {
    display: block;
    margin-bottom: 5px;
}
.form-control {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #9a9a9a;
    padding: 8px;
    outline: 0;
    font-size: 16px;
    background-color: #fff8f8;
}
.form-control:focus {
    border: 1px solid #ff2448;
    background-color: #fff;
}